<launch>
  <!-- start map_server with laas_adream map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find mummer_navigation_config)/maps/laas_adream_simplified.yaml"/>

  <!-- start static transform for localization, no need for AMCL in simulation -->
  <!--<node name="map_to_odom_static" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0 /map /odom 50" />-->

  <node pkg="priority_setter" type="pepper_priority_setter" name="pepper_navigation_priority_setter" output="screen" />

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <remap from="/cmd_vel" to="/raw_cmd_vel" />
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

    <!-- load general move base parameters -->
    <rosparam file="$(find mummer_navigation_config)/pepper_ideapark_move_base_config/move_base_params.yaml" />

    <!-- load costmap specific parameters -->
    <rosparam file="$(find mummer_navigation_config)/pepper_ideapark_move_base_config/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mummer_navigation_config)/pepper_ideapark_move_base_config/local_costmap_params.yaml" command="load" ns="local_costmap" />

    <!-- load local planner parameters -->
    <rosparam file="$(find mummer_navigation_config)/pepper_ideapark_move_base_config/teb_local_planner_params.yaml" command="load" ns="TebLocalPlannerROS" />
  </node>

</launch>
